### global
**/*.map

### root
/*
# folders
!public_html/
# files
!.gitignore
!Gruntfile.js
!gulpfile.js
!package.json
!package-lock.json
!README.md

### public_html
public_html/*
# folders
!public_html/wp-content/
# files
!public_html/favicon.ico
!public_html/favicon.png
!public_html/humans.txt
!public_html/notin.maintenance
!public_html/robots.txt

### wp-content
public_html/wp-content/*
# folders
!public_html/wp-content/plugins/
!public_html/wp-content/themes/
# files
!public_html/wp-content/maintenance.php

### plugins
public_html/wp-content/plugins/*
# folders
!public_html/wp-content/plugins/REPLACEME/
# files
#

### themes
public_html/wp-content/themes/*
# folders
!public_html/wp-content/themes/coderdojo-2019/
!public_html/wp-content/themes/coderdojo-2019/acf-json/
# files
#

### indexblockers
!public_html/static/index.php